<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">



<dom-module id="loginmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

    </style>
    <iron-ajax id="obtenerProductos"
                url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
                handle-as="json"
                on-response="mostrarProductos">

    </iron-ajax>
    <iron-ajax id="lanzarLogin"
                url="http://127.0.0.1:3000/v2/usuarios/login"
                method="POST"
                headers='{"email":"[[valuser]]","pass":"[[valpass]]","Content-Type":"application/json"}'
                on-response="respuestaLogin">

    </iron-ajax>

    <iron-ajax id="ObtenerMovimientos"
                url="http://127.0.0.1:3000/v2/movimientos"
                handle-as="json"
                method="GET"
                on-response="ListadeMovs">

    </iron-ajax>
<!--
<div class = "row">
  <button class="col-sm-4 col-6">Botón 1</button>
  <button class="col-sm-4 col-6">Botón 2</button>
  <button class="col-sm-4 col-6">Botón 3</button>
</div>
!-->

    <div>
      <label for="">[[etuser]]</label>
      <input required="required" type="text" name="" placeholder="elenanito@gmail.com" value="{{valuser::input}}">
    </div>
    <div>
      <label for="">[[etpassword]]</label>
      <input required="required" type="password" name="" value="{{valpass::input}}">
    </div>
    <div>
      <button class = "btn btn-info" on-click="hacerLogin" type="button" value="login">[[etlogin]]</button>
        <button class = "btn btn-warning" on-click="invocarPeticion">Invocar</button>
  <button class = "btn btn-warning" on-click="invocarMovimientos">Movs</button>
    </div>

<!--
		<table class = "table table-striped">
			<thead>
				<th>Id</th>
				<th>Fecha</th>
        <th>Importe</th>
				<th>Latitud</th>
        <th>Longitud</th>
			</thead>
			<tbody>
				<template is="dom-repeat" items="{{productos}}" as="prd">
					<tr>
						<td>{{prd.ProductID}}</td>
						<td>{{prd.ProductName}}</td>
						<td>{{prd.UnitPrice}}</td>
					</tr>
				</template>

        <template is="dom-repeat" items="{{movimientos}}" as="mvs">
					<tr>
						<td>{{mvs.id}}</td>
						<td>{{mvs.fecha}}</td>
            <td>{{mvs.importe}}</td>
            <td>{{mvs.latitud}}</td>
            <td>{{mvs.longitud}}</td>
					</tr>
				</template>

			</tbody>
		</table>
    <h2>Hello [[prop1]]!</h2>
  </template>
!-->
  <template is="dom-repeat" items="{{movimientos}}" as="mvs">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
						<h5 class="card-title">id: {{mvs.id}}</h5>
						<h6 class="card-subtitle mb-2 text-muted">fecha: {{mvs.fecha}}</h6>
						<p class="card-text">importe {{mvs.importe}}</p>
						<a href="#" class="card-link">longitud: {{mvs.latitud}}</a><br>
						<a href="#" class="card-link">latitud: {{mvs.longitud}}</a><br>
						<a href="#" class="card-link">ciudad: {{mvs.ciudad}}</a>
					</div>
				</div>
				</template>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser: {
            type: String
          },
          productos: {
            type: Array
          },
          movimientos: {
            type: Array
          },
					noTengoProductos: {
            type: Boolean,
						value: true
          }
        };
      }
      hacerLogin()
      {
        //this. es para buscar en la funcion en la que estamos
        //console.log("Login correcto de"+this.valuser);
				console.log(this.$.lanzarLogin.headers);
        this.$.lanzarLogin.generateRequest();
      }
      respuestaLogin(data)
      {
        console.log(data);
				console.log(data.response);
      }
      invocarPeticion()
      {
        //dolar es para buscar en shadow dom
        this.$.obtenerProductos.generateRequest();
      }
      //indicar que a mostrarProductos le pasamos los datos que regresa iron ajax
      mostrarProductos(data)
      {
        console.log(data.detail.response.value);
        this.productos=data.detail.response.value;
				this.noTengoProductos=false;
      }
    invocarMovimientos()
    {
      //dolar es para buscar en shadow dom
      this.$.ObtenerMovimientos.generateRequest();
    }
    //indicar que a mostrarProductos le pasamos los datos que regresa iron ajax
    ListadeMovs(data)
    {
      console.log(data.detail.response);
      this.movimientos=data.detail.response;
      console.log(data);

    }
  }

    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
